.mainSection {
	padding: 30px;
}
.mainSection img {
	width: 50px;
}
.mainSection table {
	width: 550px;
	margin: 10px auto;
	background: whitesmoke;
	padding: 20px;
	border-radius: 20px;
	box-shadow: 2px 2px 4px lightgray;
}
.mainSection table td:nth-child(2n)
{
	text-align:left;
}
.mainSection span {
	font-size: 20px;
	display: block;
	margin-bottom: 10px;
	font-weight: bold;
}
.mainSection .subject {
	font-size: 18px;
	width: 80px;
}
.mainSection .input_wh {
	margin: 5px 15px;
	height: 20px;
}
.mainSection .input_wh:focus {
	background: mistyrose;
}
input[type=submit] {
	padding: 10px 15px;
	margin-top: 10px;
	border: none;
	font-weight: bold;
	box-shadow: 2px 2px 2px lightgray;
}
input[type=submit]:hover {
	background: lightsteelblue;
	color: whitesmoke;
	font-weight: bold;
	text-shadow: none;
}
input[type=radio] {
	margin-right: 20px;
	margin-left: 5px;
}
