.mainSection img {
	width: 50px;
}
.mainSection .section1 {
	display: flex;
	justify-content: center;
	margin-top: 20px;
}
.mainSection .section2 {
	display: flex;
	justify-content: center;
}
.mainSection button {
	width: 180px;
	height: 150px;
	border: none;
	border-radius: 20px;
	margin: 10px;
	background-color: whitesmoke;
	box-shadow: 2px 2px 2px lightgray;
}
.mainSection button:hover {
	box-shadow: 2px 2px 2px darkgray;
}
.mainSection button i {
	font-size: 50px;
	margin-bottom: 10px;
}
.mainSection button i:hover {
	color: lightsteelblue;
}
.mainSection button h4 {
	font-size: 20px;
}
.mainSection button h4:hover {
	color: lightsteelblue;
}